.containerShowContent {
    max-width: 600px;
    min-height: 83vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.searchContainer{
    display: flex;
    margin-top: 30px;
    height: 40px;
}

.inputSearch{
    margin: 0px;
    max-height: 29px;
} 

.buttonSearch {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.formSearch{
    display: flex;
    flex-direction: row;
    margin:0;
    width: 100%;
}
.containerNotFoundPost{
    margin-top: 40px;
}

.notFoundFilteredPost{
    position: relative;
    background-color:#f76342;
    height: 40px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 13px;
}

.notFoundFilteredPost > span {
    position: absolute;
    margin: 0px;
    padding: 0;
    top: 0px;
    right: 10px;
}