.containerSignIn{
    max-width: 600px;
    height: 83vh;
    margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
  
}

.access {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}