.containerDashboardPosts{
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.btnActions{
    display: flex;
    align-items: center;
}

.btnAction{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

@media  (max-width : 600px) {
    .containerDashboardPosts{
        display: flex;
    }
    .btnActions{
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
}