.containerDashboardPosts{
    position: relative;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    background-color: #28302a;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
}

.wrapperButton{
    display: flex;
    align-items: center;
    gap: 10px;
}

.btnAction{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: green;
    opacity: 0.5;
}
.btnActionDanger{
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    font-size: 12px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
    background-color: red;
    opacity: 0.6;
}

.btnActionDanger:hover{
    opacity: 1;
}
.btnAction:hover{
   opacity: 1;
}

@media  (max-width : 600px) {

    .containerDashboardPosts {
        flex-wrap: wrap;
    }

    .wrapperButton {
        width: 100%;
    }
  
    .btnActions{
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    .containerDashboardPosts::after {
        content: '';
        position: absolute;
        bottom: 0px;
        width: 150px;
        height: 1px ;
        background-color: #28302a;
    }
}