.containerContent {
    text-transform: capitalize;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
}
.containerImage{
    max-height: 300px;
    max-width: 600px;
    background-size: cover;
}

.containerTags {
    display: flex;
    flex-direction: row;
    margin: 20px 0px ;
}
.tag {
    margin-right: 10px;
    font-weight: bolder;
}

.containerContent::after {
    content: '';
    margin: 0 auto;
    width: 150px;
    height: 1px ;
    background-color: black;
}

.btnReadPost {
    width: 100px;
    height: 30px;
    background-color: #27bc58;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
    font-weight: bold;
    border: none;
}


@media (min-width : 400px){
    .containerContent::after {
        width: 300px;
    }
}