@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0px;
    font-family: 'Space Grotesk', sans-serif;
}

.allContainers{
    max-width: 600px;
    min-height: 83vh;
    margin: 0 auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 20px;
  
}
img {
    width: 100%;
}

/* form style */

form {
    width: 70%;
    min-height: 50vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}

input {
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px black solid;
    font-size: 20px;
}
textarea {
    min-height: 332px;
    max-width: 459px;
    resize: none;
    font-size: 20px;
}

textarea::placeholder {
    padding: 10px;
}

label {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: start;
}
input::placeholder {
    font-size: 15px;
}

.btn {
    width: 100px;
    height: 30px;
    background-color: transparent;
    border: 1px solid black;
    font-weight: bold;
    font-size: 15px;
    margin-top: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.warningMessage {
    background-color: #ff6161;
    max-width: 50%;
    margin:  0 auto;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px;
    border: none;
    color: white;
}
.sucessMessage {
    background-color: #009f00;
    max-width: 50%;
    margin:  0 auto;
    margin-top: 40px;
    font-size: 20px;
    padding: 10px;
    border: none;
    color: white;
}